<% unless @user.profile_picture.nil? %>
  <div class='profile-picture-wrapper'>
    <%= image_tag @user.profile_picture.profile.url,class:'profile-picture' %>
  </div>
<% end %>

<div class='profile-info'>
  <h2 class=''><%= @user.first_name %> <%= @user.last_name %></h2>

  <% if @user.birthday %>
    <p>Birthday: <%= @user.birthday %></p>
  <% end %>

  <% if @user.location && !@user.location.empty? %>
    <p>Lives in: <%= @user.location %></p>
  <% end %>

  <% if current_user == @user %>
    <p><%= link_to 'Edit Profile', edit_user_registration_path(current_user), class:'button' %></p>
  <% elsif @user.incoming_friend_requests.pluck(:from_id).include?(current_user.id) %>
    <p>Friend Request Sent</p>
  <% elsif current_user.friends.include?(@user) %>
    <p>You are friends with <%= @user.first_name %></p>
    <%= link_to 'Unfriend', friendships_path(user_id: current_user.id, friend_id: @user.id), method: :delete, class:'button' %>
  <% elsif @user.outgoing_friend_requests.pluck(:recipient_id).include?(current_user.id) %>
    <p><%= link_to @user.first_name + ' wants to be your friend', friend_requests_path %></p>
  <% else %>
    <p><%= link_to 'Send Friend Request', friend_requests_path(recipient_id: @user.id), method: :post, class:'button' %></p>
  <% end %>
</div>

<div class='container'>
  <h3>Posts</h3>

  <% @user.posts.order(created_at: :desc).each do |post| %>
    <div class='post'>
      <%= render partial: 'posts/post', locals: {post: post} %>
    </div>
  <% end %>
</div>

<div class='container'>
  <h3>Friends</h3>

  <div class='col-2'>
    <% @user.friends.each do |friend| %>
      <%= render partial: 'friend', locals: {request:false, friend: friend} %>
    <% end %>
  </div>
</div>