<h1>Posts</h1>

<% @posts.each do |post| %>
  <div class='post'>
    <%= image_tag post.user.profile_picture.thumb.url %>
    <%= link_to 'Show Post', post_path(post) %>
    <%= render partial: 'posts/post', locals: {post: post} %>
    <%= render partial: 'posts/comments', locals: {post: post} %>
    <%= render partial: 'comments/form', locals: {post: post} %>
  </div>
<% end %>

<br>

<%= link_to 'New Post', new_post_path %>
